// TODO:设置设计图尺寸

html {
    font-size: calc(100vh / 1418);
}

body {
    min-height: 100vh;
    background: #000;
}

// 全面屏
@media screen and (max-aspect-ratio: "750 / 1417") {
    html {
        font-size: calc(100vw / 750);
    }
}
