// @include background("page-arrow/arrow.png", 100% 100%);
@mixin background($url, $size: 100% 100%, $position: 0 0, $repeat: no-repeat) {
    background: {
        image: url("~@/assets/images/#{$url}");
        size: $size;
        position: $position;
        repeat: no-repeat;
    }
}
